.array-bar {
  display: inline-block;
  margin-bottom: 0;
}

.array-container {
  position: absolute;
  bottom: 10%;
  height: 60%;
}

.rectangle {
  position: absolute;
  margin: 0;
  bottom: 0%;
  width: 100%;
  height: 10%;
  background-color: rgba(3, 24, 24, 0.26);
}
